<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/ilike.css" rel="stylesheet" type="text/css">

    {{ partial "title.html" (dict "burl" .Site.BaseURL "mtitle" "Love ya music")}}
</head>
<body>
    <div class="likeheader">
        <a href="/ilike" style="text-decoration: none; color: #c2c2c2;"> 
            <div style="text-align:center">
                <pre><~~    <~~    <~~    <~~    <~~    <~~    <~~    <~~    <~~</pre>
            </div>
        </a>
    </div>

    <div class="likemain">
        <h1 style="color: #ffffff"> Heres some music I like :) </h1>
        {{ .Content }}
    </div>

</body>
</html>